# Flutter / Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ / Android Studio
.idea/
*.iml

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# OS Files
.DS_Store
Thumbs.db
.metadata

# Flutter / Platform-specific folders
android/
ios/
linux/
macos/
windows/
web/

# Test folders
test/
